<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala A</title>

    <style>
    </style>

    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js"
        integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
        crossorigin="anonymous"></script>
    <script>
        const socket = io();

        const roomRoute = window.location.href;
        var roomName = roomRoute.split('/').pop();
    </script>

</head>

<body>
    Sala: <span id="roomId"></span> <br />
    Link para acessar: <span id="roomURL"></span>
</body>


<script>
    console.log(roomName);
    document.getElementById("roomId").innerHTML = roomName;
    document.getElementById("roomURL").innerHTML = window.location.href;

    const request = obj => {

        const xhr = new XMLHttpRequest();

        xhr.open(obj.method, obj.url, false);
        xhr.send();

        xhr.addEventListener('load', () => {
            console.log('evento ok');
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log(xhr.status);
            } else {
                console.log(xhr.status);
            }
        })
    }



    window.onload = function () {
        request({
            method: 'GET',
            url: '../check-and-open-room/' + roomName,

            // sucess(response){
            //     console.log(response);
            // },
            // error(errorText) {
            //     console.log(errorText);
            // }
        });
    };

</script>

</html>